hw3/profiling/actual-out
hw3/profiling/actual-out2
hw3/profiling/actual.lsp
hw3/profiling/actual2.lsp
hw3/profiling/benchmark-out
hw3/profiling/tmp
hw3/profiling/tmp2
hw6/hw6.zip
hw6/rsat_SAT-Race08_bin.tar.gz
